button.grayButton {
	background-color: #AAA;
}

button.redButton {
	background-color: #F00;
}

button.orangeButton {
	background-color: #FFA500;
}

button.lightGrayButton {
	background-color: #EEE;
}

.keys button {
	width: 30px;
	margin-left: 2px;
	margin-right: 1px;
}

.display button {
	width: 30px;
	margin-left: 5px;
	margin-top: 5px;
}

.container {
	width: 145px;
	border: 2px solid #CCC;
	background-color: #000;
}

#display1 {
	width: 45px;
	margin-left: 1px;
	margin-right: 1px;
}

#display2 {
	width: 20px;
	margin-left: 1px;
	margin-right: 1px;
}

#display3 {
	width: 45px;
	margin-left: 1px;
	margin-right: 1px;
}





